*
!.gitignore
!.config/shell/
!.config/zsh/
!.config/i3/
!.config/sxhkd/
!.config/sxiv/
!.config/nvim/
!.config/mpv/
!.scripts/
!Downloads/gitthings/
!.zshrc
!.zprofile
!.histfile
!README.org
!fsociety00.dat
!LICENSE
!.vimrc
!.gtkrc-2.0
!.gitconfig
!.newsboat/
!.fonts/
!.config/bash/
!.config/dunst/
!.config/kitty/
!.config/rofi/
!.config/gtk-2.0
!.config/gtk-3.0
!.config/picom.conf
!.config/.gitconfig
!.config/Trolltech.conf
!.local/bin/
!Pictures/ScreenShots/
!Pictures/nordic-wallpapers/
!Pictures/output.gif
!.scripts/
